1. Создайте из списка в 10 элементов от 1 до 10 объект Series, выведите 5 элемент, выведите второй и третий элементы.

In [ ]:
import pandas as pd
sr1 = pd.Series([i for i in range(1, 11)])
print(sr1)
print(sr1[4], sr1[1], sr1[2])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
5 2 3

2. Создайте Series из 10 случайных чисел int и задайте индексы из любых букв алфавита (a, b, c и т.д.)

In [ ]:
import random
sr2 = pd.Series([random.randint(0,100) for i in range(10)], index=[chr(random.randint(97, 122)) for _ in range(10)])
print(sr2)

e    68
f    85
p    37
b     2
z    37
g    85
o    31
v    64
g    81
p    82
dtype: int64

3. Создайте Series из словаря, который описывает 5 пар значений номер группы и количество студентов в группе. Выведите срез по первым трем группам.

In [ ]:
import pandas as pd
sr3 = pd.Series({
    "ИД22-1": 28,
    "ИД22-2": 24,
    "ИД22-3": 22,
    "ИД22-4": 26,
    "ИД22-5": 30
})
print(sr3.loc()["ИД22-1":"ИД22-3"])

ИД22-1    28
ИД22-2    24
ИД22-3    22
dtype: int64

4. Создайте DataFrame из двух Series, которые описывают соответственно первый - 5 групп, количество студентов в группе и второй - те же 5 групп и количество отличников в них.

In [ ]:
sr4 = pd.Series({
    "ИД22-1": 8,
    "ИД22-2": 10,
    "ИД22-3": 15,
    "ИД22-4": 9,
    "ИД22-5": 5
})
df1 = pd.DataFrame({"students": sr3, "excellent students": sr4})
print(df1)

        students  excellent students
ИД22-1        28                   8
ИД22-2        24                  10
ИД22-3        22                  15
ИД22-4        26                   9
ИД22-5        30                   5

6. Создайте DataFrame из двумерного массива 3 на 2 случайных чисел int, индексов a, b, c и колонок one two.

In [ ]:
import numpy as np
df2 = pd.DataFrame((np.random.randint(0,100,size=(3,2))), index=["a", "b", "c"], columns=["one", "two"])
print(df2)

   one  two
a   83   20
b   41   59
c   48   86

7. В DataFrame из задания 4 добавьте стетий столбец Proportin и внесите в нее отношение отличников к общему числу студентов в группе.

In [ ]:
df1["proportin"] = df1["excellent students"]/df1["students"]
print(df1)

        students  excellent students  proportin
ИД22-1        28                   8   0.285714
ИД22-2        24                  10   0.416667
ИД22-3        22                  15   0.681818
ИД22-4        26                   9   0.346154
ИД22-5        30                   5   0.166667

8. Используя DataFrame из задания 7 выведите срез первых двух столбцов и первых трех групп с помощью неявной индексации.

In [ ]:
print(df1.iloc[0:3, 0:2])

        students  excellent students
ИД22-1        28                   8
ИД22-2        24                  10
ИД22-3        22                  15

9. Используя DataFrame из задания 7 выведите срез первых двух столбцов и первых трех строк с помощью явной индексации.

In [ ]:
print(df1.loc["ИД22-1":"ИД22-3", "students":"excellent students"])

        students  excellent students
ИД22-1        28                   8
ИД22-2        24                  10
ИД22-3        22                  15

10. Используя DataFrame из задания 7 выведите все группы, в которых количество студентов больше 25, должны быть выведены также данные по  столбцам Excellent student и Proportin.

In [ ]:
print(df1.loc[df1.students > 25])

        students  excellent students  proportin
ИД22-1        28                   8   0.285714
ИД22-4        26                   9   0.346154
ИД22-5        30                   5   0.166667